.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 59px;
  height: 59px;
  border-radius: 100%;
}

.nv{
  position: relative;
  top: 0%;
  display: none;
}

@media screen and (max-width: 600px){
  .nv{
    display: contents;
    padding: 5vmax;
  }
}