*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Chrome, Safari,, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*firefox */

input[type="number"] {
    -moz-appearance: textfield;
}
.greenColor{
    color: green !important;
}
.redColor{
    color: red !important;
}



/* .home{
    text-decoration: none;
    scroll-behavior: smooth;
} */