.emptyCart{
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 10vmax;
}

.emptyCart >svg{
  color: #eeea00;
  font-size: 8vmax;
}
.emptyCart > p{
  font-size: 2vmax;
}
.emptyCart > a{
  background-color: rgb(51, 51, 51);
  color: white;
  text-decoration: none;
  border: none;
  padding: 1vmax 3vmax;
  font: 400 1vmax "Roboto";
  cursor: pointer;
}


.cartPage {
  padding: 5vmax;
}

.cardHeader {
  background-color: #fffc48;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: black;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 1vmax "Roboto";
}

.cardHeader > p {
  margin: 10px;
}
.cardHeader > p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.cartInput {
  height: 8vmax;
  display: flex;
  align-items: center;
}
.cartInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}
.cartInput > input {
  border: none;
  width: 1vmax;
  padding: 0.5vmax;
  outline: none;
  text-align: center;
  font: 400 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.74);
}

.cartSubtotal {
  display: flex;
  padding: 0.5vmax;
  align-items: center;
  font: 300 1vmax cursive;
  box-sizing: border-box;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.753);
  height: 8vmax;
}

.cartGrossProfit{
  display: grid;
  grid-template-columns: 2fr 1.2fr;

}

.cartGrossProfitBox {
  border-top:  3px solid #fffc48;
  box-sizing: border-box;
  margin: 1vmax 4vmax;
  display: flex;
  justify-content: space-between;
  padding: 2vmax 0;
  font: 300 1vmax "Roboto";
}

.checkOutBtn{
  display: flex;
  justify-content: flex-end;
}

.checkOutBtn > button{
  background-color: #fffc48;
  color: black;
  border: none;
  padding: 0.8vmax 4vmax;
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 30px;
  width: 50%;
  font: 300 1vmax "Roboto";
}


@media screen and (max-width: 600px){

  .cartPage{
    padding: 8vmax 0px;
    min-height: 60vh;
  }
  .cardHeader{
    width: 100%;
    font: 300 1.7vmax "Roboto";
    grid-template-columns: 3fr 1fr 1fr;

  }
  .cartContainer{
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartInput{
    height: 20vmax;
  }
  .cartInput > button{
    padding: 1.5vmax;
  }
  .cartInput > input{
    width: 2vmax;
    padding: 1.8vmax;
    font: 400 2vmax "Roboto";
  }
  .cartSubtotal{
    padding: 1.5vmax;
    height: 20vmax;
    font: 300 2vmax "Roboto";
  }
  .cartGrossProfit{
    display: grid;
    grid-template-columns: 0fr 2fr;
  }
  .cartGrossProfitBox{
    padding: 2vmax;
    font: 300 2vmax "Roboto";
  }
  .checkOutBtn > button{
    padding: 2vmax 4vmax ;
    width: 100%;
    font: 300 2vmax "Roboto";
  }
}
