/* body{
    background-color: white;
} */
.mainContainer{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}


.mainContainer > .contactForm{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  18px 18px 57px #8f8f8f,
    -18px -18px 57px #ffffff;   
    transition: all 0.8s;
}
.mainContainer > .contactForm > h1{
    margin-top: 70px;
    margin-bottom: 30px;

}

.mainContainer > .contactForm > input {
    border: none;
    box-shadow:  10px 10px 17px #8f8f8f44,
    -10px -10px 17px #ffffff;   
    width: 50vh;
    padding: 1.3vmax;
    margin: 1vmax;
   
}

.mainContainer > .contactForm > textarea{
    border: none;
    box-shadow:  10px 10px 17px #8f8f8f73,
    -10px -10px 17px #ffffff; 
    width: 55vh;
    margin: 1vmax;
}
textarea::placeholder{
    font-size: 17px;
    margin: 1vmax;
}
.btn{
    cursor: pointer;
    padding: 1vmax 1.8vmax;
    font: 500 1.2vmax "Roboto";
    background-color: yellow;
    outline: none;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 8px;   
    margin-bottom: 30px;
    margin-top: 30px;
    transition: all 0.5s;
}
.btn:hover{
    background-color: yellow;
    color: black;
    transform: scale(1.1);
    box-shadow:  10px 10px 17px #8f8f8f73,
    -10px -10px 17px #ffffff; 
}

.locationContact{
    background-color: yellow;
    height: 600px;
    width: 400px;
}
.locationContact >h1{
    margin: 70px 40px 30px 40px;
}

.location{
    display: flex;
    align-items: center;
}
.iconlocat{
    cursor: pointer;
    margin-left: 30px;
    border-radius: 50%;
    background-color: #d7d7d7aa;
    padding: 15px;
}
.location > p{
    margin-left: 30px;
    font-size: 24px;
}
.location > p >span{
    font-weight: bold;
}
.phone{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.phoneIcon{
    cursor: pointer;
    margin-left: 30px;
    border-radius: 50%;
    background-color: #d7d7d7aa;
    padding: 15px;
}
.phone > p{
    margin-left: 30px;
    font-size: 24px;
}
.phone > p > span{
    font-weight: bold;
}
.email{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.sendIcon{
    cursor: pointer;
    margin-left: 30px;
    border-radius: 50%;
    background-color: #d7d7d7aa;
    padding: 15px;
    transform: rotate(310deg);
}
.email > p{
    margin-left: 30px;
    font-size: 21px;
}
.email > p > span{
    font-weight: bold;
}

.website{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.publicIcon{
    cursor: pointer;
    margin-left: 30px;
    border-radius: 50%;
    background-color: #d7d7d7aa;
    padding: 15px;
}
.website > p{
    margin-left: 30px;
    font-size: 24px;
}
.website > p > span{
    font-weight: bold;
}














@media screen and (max-width: 600px){

    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mainContainer > .contactForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .mainContainer > .contactForm > input {
        width: 40vh;
        padding: 1vmax;
        margin: 1.4vmax;
       
    }
    .mainContainer > .contactForm > textarea{
        width: 42vh;
        margin: 1vmax;
    }
    .btn{
        padding: 1.6vmax 2.5vmax;
        font: 500 2.2vmax "Roboto";
        background-color: yellow;
        border: none;
        color: black;
        box-shadow: 3px 3px 10px yellow, -3px -3px 10px yellow;
        border-radius: 4px;
        transition: all 0.5s;
    }
    .mainContainer > .locationContact{
        background-color: yellow;
        height: 600px;
        width: 323px;
    }
    .locationContact >h1{
        margin: 70px 40px 30px 40px;
        text-align: center;
        
    }
    
    .location{
        display: flex;
        align-items: center;
    }
    .iconlocat{
        cursor: pointer;
        margin-left: 30px;
        border-radius: 50%;
        background-color: #d7d7d7aa;
        padding: 15px;
    }
    .location > p{
        margin-left: 20px;
        font-size: 17px;
    }
    .location > p >span{
        font-weight: bold;
    }
    .phone{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    .phoneIcon{
        cursor: pointer;
        margin-left: 30px;
        border-radius: 50%;
        background-color: #d7d7d7aa;
        padding: 15px;
    }
    .phone > p{
        margin-left: 20px;
        font-size: 17px;
    }
    .phone > p > span{
        font-weight: bold;
    }
    .email{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    .sendIcon{
        cursor: pointer;
        margin-left: 30px;
        border-radius: 50%;
        background-color: #d7d7d7aa;
        padding: 15px;
        transform: rotate(310deg);
    }
    .email > p{
        margin-left: 20px;
        font-size: 14px;
    }
    .email > p > span{
        font-weight: bold;
    }
    
    .website{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    .publicIcon{
        cursor: pointer;
        margin-left: 30px;
        border-radius: 50%;
        background-color: #d7d7d7aa;
        padding: 15px;
    }
    .website > p{
        margin-left: 20px;
        font-size: 17px;
    }
    .website > p > span{
        font-weight: bold;
    }
    
    
}