.containerCat{
    margin-top: 84px;
    background: rgb(237,237,230);
    background: linear-gradient(90deg, rgba(237,237,230,1) 0%, rgba(255,254,136,0.9375) 4%, rgba(251,250,108,1) 25%, rgba(250,250,39,0.896796218487395) 66%, rgba(246,246,34,0.8995973389355743) 100%, rgba(253,255,0,0.6012931034482758) 100%);
    height: 55vh;
}

.containerCat > h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.587);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.categ{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.categ > div > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
    padding: 24px;
    background-color: white;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.532);
    transition: all 0.5s;
}
.categ > div > img:hover{
    transform: scale(1.2);
}
.categ > div > p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
   color:rgba(0, 0, 0, 0.587);

}

@media screen and (max-width: 600px){
    .containerCat{
        display: flex;
        flex-direction: column;
        height: 170vh;
        margin-top: 200px;
    }
    .categ{
        display: flex;
        flex-direction: column;
    }
    .categ > div > img{
        height: 80px;
        width: 80px;
        margin: 20px;
        padding: 10px;

    }   
}